<h1>Hello Dog World!</h1>

<!-- Filter Input  -->

<mat-form-field appearance="fill" class="filter-field">
  <mat-label>Filter items...</mat-label>
  <input matInput [(ngModel)]="filterQuery" (input)="filterItems()" />
</mat-form-field>

<!-- Sort Button  -->
<div class="container">
  <button mat-raised-button color="primary" (click)="toggleSortDirection()">
    Sort {{sortDirection === 'asc' ? 'Descending' : 'Ascending' }}
  </button>
</div>

<!-- Items List  -->
<mat-list>
  <mat-list-item *ngFor="let item of filteredItems">
    {{ item }}
  </mat-list-item>
</mat-list>
<router-outlet />